[project]
	description = testrepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sreeharinath
[access "refs/for/refs/*"]
	read = group user/Sreeharinath
	push = group user/Sreeharinath
	label-Code-Review = -2..+2 group user/Sreeharinath
	label-Verified = -1..+1 group user/Sreeharinath
	rebase = group user/Sreeharinath
	removeReviewer = group user/Sreeharinath
	submit = group user/Sreeharinath
[access "refs/heads/*"]
	read = group user/Sreeharinath
	create = group user/Sreeharinath
	push = +force group user/Sreeharinath
	pushMerge = group user/Sreeharinath
[access "refs/tags/*"]
	push = +force group user/Sreeharinath
	pushTag = group user/Sreeharinath
	pushSignedTag = group user/Sreeharinath
